<fieldset class="fieldset payment method">
    <div class="field field-number required">
        <label for="mpesanumber" class="label">
            <span><!-- ko i18n: 'Date of Birth'--><!-- /ko --></span>
        </label>
        <div class="control">
            <div class="name-info">
                <input type="date" id="lipampesanumber" name="dob"
                         required="true" data-bind="value: CheckVals, event: {change: SaveOP}" class="input-text"/>

            </div>
        </div>
    </div>
</fieldset>
